doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

		//- scripts
		script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
		script(type="text/javascript" src="js/dist.js")

		//- css
		link(rel="stylesheet", href="css/style.css")
	body
		div.camp.choose
			h1 Junior Camp
			h2 5 years to year 1
			button(onclick="showJuniorCamp()") Register
			
			p &nbsp;
			
			h1 Senior Camp
			h2 years 2 - 5
			button(onclick="showSeniorCamp()") Register
			
		div.junior.camp
			div.title
				h1 Junior Day Camp - 24 April, 2017
				h2 Junior Day Camp is for children aged from 5 years through to Year 1
			hr
			div.details
				h3 Venue
				p.
					Christian Family Centre <br />
					185 Frederick Road, Seaton
				h3 Drop Off
				p 10am, Monday 24 April
				h3 Pick Up
				p 5pm, Monday 24 April
				p.fullwidth The types of activities we will be undertaking are: fun games, teaching and object lessons, small groups, creative activities, sporting games. All activities will be appropriately supervised. If you would like a copy of our CFC Child & Youth C.A.R.E Policy please contact Michael Tompich (Camp Coordinator) or Chey Drew (Children’s Ministry Director).
				h3 Camp Fee
				p $30 per child
				p.fullwidth Please contact Michael Tompich at michaelt@familycentre.org.au or speak with him in person if you need to reduce camp costs for a child who would otherwise not be able to attend.
				h3 Contact Leader 1 <br /> Day Camp Coordinator
				p Michael Tompich, 0421 603 793 <br /> <a href="mailto:michaelt@familycentre.org.au">michaelt@familycentre.org.au</a>
				h3 Contact Leader 2
				p Chey Drew, 0405 650 396 <br /> <a href="mailto:cheyd@familycentre.org.au">cheyd@familycentre.org.au</a>
				h3 What to Bring?
				ul
					li
						p Hat
					li
						p Water Bottle
					li
						p Jumper (if colder weather)
					li
						p Bible (if you have one)
					li
						p Enclosed footwear
					li
						p Any prescription medication (please provide details)
				h3 What to leave at home?
				ul
					li
						p DS / iPad / Gaming Systems etc
					li
						p Lollies / Snacks (there will be lots of yummy food!)
					li
						p Toys - anything that could get lost or broken
					li
						p Pocket knives or any other sharp object
			form
				button(onclick="return redirect('register.html?q=junior');")
					p Register	
		div.senior.camp
			div.title
				h1 Senior Kids Camp - 26 - 28 April, 2017
				h2 Senior Kids Camp is for children in Yrs 2-5 at Primary School
			hr
			div.details
				h3 Venue
				p.
					Toc H Campsite <br />
					Waggon Road, Victor Harbor
				h3 Drop Off
				p 2pm, Wednesday 26 April
				h3 Pick Up
				p 11am, Friday 28 April
				p.fullwidth The types of activities we will be undertaking are: fun games, teaching and object lessons, small groups, creative activities, sporting games and sand castle making (weather permitting /no swimming) at the beach (20 min walk via boardwalk / underpass). All activities will be appropriately supervised. If you would like a copy of our CFC Child & Youth C.A.R.E Policy please contact Michael Tompich (Camp Coordinator) or Chey Drew (Children’s Ministry Director).
				h3 Camp Fee
				p $105 per child
				p.fullwidth All children in Yrs 2-5 welcome! Please contact Michael Tompich at michaelt@familycentre.org.au or speak with him in person if you need to reduce camp costs for a child who would otherwise not be able to attend.
				h3 Contact Leader 1
				p Michael Tompich (Camp Coordinator), 0421 603 793
				h3 Contact Leader 2
				p Chey Drew, 0405 650 396
				h3 What to Bring?
				ul
					li
						p Hat
					li
						p Pillow
					li
						p Sleeping Bag or Full Bedding
					li
						p PJs and Clothes
					li
						p Extra warm clothes for night time
					li
						p Bible (if you have one)
					li
						p Toiletries
					li
						p Towel
					li
						p Good walking shoes
					li
						p Small torch (optional)
					li
						p Any prescription medication (please provide details)
				h3 What to leave at home?
				ul
					li
						p DS / iPad / Gaming Systems etc
					li
						p Lollies / Snacks (there will be lots of yummy food!)
					li
						p Toys - anything that could get lost or broken
					li
						p Pocket knives or any other sharp object
			form
				button(onclick="return redirect('register.html?q=senior');")
					p Register	